<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">
    <title>Imobiliária XYZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vitrine imobiliária de exemplo desenvolvida em Ruby com Sinatra">
    <meta name="author" content="João Netto">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <h1>Vitrine em Rails</h1>
        <p>Uma listagem simples de arquivos desenvolvida em Ruby com Sinatra em MVC.</p>
      </div>
      
      <div class="row re-listing">
        <% if !@estates.empty? %>
          <% for estate in @estates %>
          <div class="span4">
            <a href="#" class="thumbnail">
              <img src="<%= estate.image_url %>" alt="<%= estate.name %>" width="360" height="268">
              <h4><%= estate.name %></h4>
              <p><%= estate.preview %></p>
              <h3 class="price">R$ <%= estate.price %></h3>
            </a>
          </div>
          <% end %>
        <% else %>
          <div class="span12">
            <div class="alert"><strong>Desculpe.</strong> Ainda não temos imóveis cadastrados.</div>
          </div>
        <% end %>
      </div>
      
      <footer>
        <p>&copy; joaonetto.me</p>
      </footer>
    </div>
  </body>
</html>